./covo.params_hagn

./covo.params_flagship

./run_covo_hagn.sh

./run_covo_flagship.sh

./src/results/

./src/catalogue.o

./src/correlation.o

./src/directory.o

./src/parameters.o

./src/healpix.o

./src/main.o

./covo
